<!-- 
<div data-sly-use.model = com.adobe.aem.may.batch.core.models.VationParent>

    ${model.text}  <br>
    ${model.des}   <br>
    ${model.num} <br>

    <div data-sly-list.item=${model.bookdetailswithmap}>

    ${item.bookname} <br>
    ${item.bookdes}  <br>
    ${item.booknum}  <br>
    ${ 'dd-MM-yyyy' @ format=item.bookpublishdate}<br>

    <div data-sly-list.item1=${item.bookdetailswithwriter}>

     ${item1.writername} <br>
    ${item1.writerinfo}  <br>
    ${item1.writernum}  <br>
    ${ 'dd-MM-yyyy' @ format=item1.writerdob}<br>
</div>
</div>
</div>

<h2>JavaScript Alert message display</h2>

<button class="button" onclick="myFunction()">Click Here</button> -->


<h2> HTL Assignment</h2></br>


<h3>  Test </h3>
<div data-sly-test="${properties.checkbox}">
    <h2>this is checkbox test true</h2>
</div>

<h3>Include</h3>
<div data-sly-include="vation1.html"></div>


<h3>Resource </h3>
<div data-sly-resource="${mango @resourceType='May/components/mango'}"></div>

<h3>List</h3>
<div data-sly-set.items="${['one','two','three','four']}"></div>

<ol data-sly-list="${items}">

     <li> ${item}</li>
</ol>

<h3>Repeat</h3>
<ol data-sly-repeat="${items}">

     <li> ${item}</li>
</ol>


<div data-sly-template.vation="${@v1,v2,v3}">

      <h3>${v1}</h3>
      <h3>${v2}</h3>
      <h3>${v3}</h3>

</div>

<h3>call</h3>
<div data-sly-call="${vation @ v1='25',v2='50',v3='75'}"></div>

<h3>Unwrap</h3>
<div data-sly-unwrap>krishna</div><br>
<sly>sai</sly>


<h3>Text</h3>
<div data-sly-text=${1==1}>krishna</div>

<h3>Attribute</h3>
<div data-sly-attribute="${myAttribute}">project</div> <br>

<h3>Element</h3>
<div data-sly-element="${'span'}"> value</div>